.education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.education li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    text-align: left;
}

.education li .title-education {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin: 0;
}


.education li .title-education::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('/assets/img/tools/book.svg') no-repeat center center;
    background-size: contain;
    margin-right: .5rem;
    vertical-align: middle;
}

.education li .period-education {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    color: #ddd;
    margin: 0.25rem 0 0 1.5rem; 
}

.education li .period-education::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('/assets/img/icons/calendar.svg') no-repeat center center;
    background-size: contain;
    margin-right: .5rem;
    vertical-align: middle;
}

.education ul {
    padding: 0;
    margin: 0;
    text-align: left;
    align-items: flex-start;
}

.education .achievements ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.education .achievements ul li img {
    max-width: 5rem;
    margin: 0.5rem;
    justify-content: center;
}

.education .title-achievements-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 10px 0;
}
